*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row {
    width: 800px;
    border: 1px solid black;
    margin: auto;
    margin-top: 20px;
}

.webdev-text1 {
    padding: 10px;
}

.text-bold {
    font-weight: bold;
    background-color: aqua;
}