.container {
    height: 500px;
    border: 1px solid black;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

div[class ^="box"] {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 1px solid black;
}