table, td, th {
    border: 1px solid black;
}

caption {
    border: 1px 0px solid black;
}

table {
    border-collapse: collapse;
    width: 500px;
}

th {
    height: 70px;
}

td {
    text-align: center;
}

thead {
    background-color: greenyellow;
}

tr:nth-child(even){
    background-color: lightcyan;
}

tbody tr:hover {
    background-color: #333;
    color: white;
}

tfoot {
    background-color: black;
    color: white;
}