root {
    --fg-light: white
}


body {
    background-color: grey;
}

.aueb-header {
    color: white;
    background-color: var(--fg-light);
}

.cf-header {
    color: wheat;
    background-color: var(--fg-light);
}

.aueb-text {
    color: whitesmoke;
    background-color: var(--fg-light);
}