body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gradient-to-right {
    width: 800px;
    height: 200px;
    border: 1px solid black;
    background-image: linear-gradient(to right, green, red);
}

.gradient-to-lefttop {
    width: 800px;
    height: 200px;
    border: 1px solid black;
    background-image: linear-gradient(to left top, rgb(28, 35, 238), red);
}

.gradient-top {
    width: 800px;
    height: 200px;
    border: 1px solid black;
    background-image: linear-gradient(to top, rgb(198, 210, 19, 0.7), rgb(9, 18, 81, 1));
}
